html{
    background: #f1f1f1;    
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #f1f1f1; */
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* body {
    font-size: 12px;
} */

img {
    border: none;
}

li {
    list-style: none;
}

input,
/* select, */
/* textarea  */
{
    outline: none;
}
/* 
textarea {
    resize: none;
} */

a {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.float-left{
    float: left;
}

.float-right{
    float:right;
}
